@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;

@if (isAuthenticated)
{
    <h1>Hello, world!</h1>

    <h4> Welcome to your new app.</h4>
} 
else
{
    <h1> You will be redirected to login</h1>
}



@code {
    bool isAuthenticated = false;

    protected override async void OnInitialized()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            isAuthenticated = true;

        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}