
<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row px-4 auth">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                Signed In
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class="row">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4"> Planner App</h1>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="">
                    <PlannerApp.Infrastructure.Identity.Pages.Register />
                </div>
                <div class="">
                    <PlannerApp.Infrastructure.Identity.Pages.Login />
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
